@import url(https://fonts.googleapis.com/css?family=Tajawal:200);

*::selection {
    color: #AF08D3;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 800;
    letter-spacing: -1px;
    font-family: 'Tajawal', sans-serif;
    color: #2E2E2E;
    opacity: .5;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 0;
    text-align: center;
}

p {
    font-family: 'Tajawal', sans-serif;
    color: #2E2E2E;
    font-size: 35px;
    font-weight: 1000;
    text-align: center;
}

img {
    height: 25px;
    width: 25px;
    opacity: .5;
}

a {
    padding-right: 1em;
    color: #2E2E2E;
    text-decoration: none;
}

img:hover {
    opacity: 1;
}

span.h:hover {
    color: #FF0000;
}

span.e:hover {
    color: #FF0033;
}

span.l1:hover {
    color: #FF0066;
}

span.l2:hover {
    color: #FF0099;
}

span.o1:hover {
    color: #FF00CC; 
}

span.comma:hover {
    color: #FF00FF;
}

span.i:hover {
    color: #FF33FF;
}

span.apos:hover {
    color: #FF66FF
}

span.m:hover {
    color: #FF66CC
}

span.a1:hover {
    color: #FF6699;
}

span.a2:hover {
    color: #FF6666;
}

span.r:hover {
    color: #FF6633;
}

span.o2:hover {
    color: #FF6600;
}

span.n:hover {
    color: #FF3300;
}

span.pi:hover {
    color: #6600FF;
}

span.papos:hover {
    color: #6600CC;
}

span.pm:hover {
    color: #660099;
}

span.pa:hover {
    color: #660066;
}

span.ps:hover {
    color: #660033;
}

span.pt:hover {
    color: #660000;
}

span.pu:hover {
    color: #663300;
}

span.pd:hover {
    color: #663333;
}

span.pe:hover {
    color: #663366;
}

span.pn:hover {
    color: #663399;
}

span.pt2:hover {
    color: #6633CC;
}

span.a2:hover {
    color: #6633FF;
}

span.t3:hover {
    color: #6666FF;
}

span.pu:hover {
    color: #6666CC;
}

span.n2:hover {
    color: #666699;
}

span.pi2:hover {
    color: #666666;
}

span.pv:hover {
    color: #666633;
}

span.pe2:hover {
    color: #666600;
}

span.pr:hover {
    color: #669900;
}

span.ps2:hover {
    color: #669933;
}

span.pi3:hover {
    color: #669966;
}

span.pt4:hover {
    color: #669999;
}

span.py:hover {
    color: #6699CC;
}

span.po:hover {
    color: #6699FF;
}

span.pf:hover {
    color: #6699CC;
}

span.pp:hover {
    color: #669999;
}

span.pi4:hover {
    color: #669966;
}

span.pt5:hover {
    color: #669933;
}

span.pt6:hover {
    color: #669900;
}

span.ps3:hover {
    color: #66CC00;
}

span.pb:hover {
    color: #66CC33;
}

span.pu3:hover {
    color: #66CC66;
}

span.pr:hover {
    color: #66CC99;
}

span.pg:hover {
    color: #66CCCC;
}

span.ph:hover {
    color: #66CCFF;
}

span.pa3:hover {
    color: #66FFFF;
}

span.pt6:hover {
    color: #9900FF;
}

span.pg2:hover {
    color: #9900CC;
}

span.pr2:hover {
    color: #990099;
}

span.pe2:hover {
    color: #990066;
}

span.pe3:hover {
    color: #990033;
}

span.pn2:hover {
    color: #990000;
}

span.ps4:hover {
    color: #993300;
}

span.pb2:hover {
    color: #993333;
}

span.pu4:hover {
    color: #993366;
}

span.pr3:hover {
    color: #993399;
}

span.pg3:hover {
    color: #9933CC;
}

span.pd:hover {
    color: #9933FF;
}
