@import url(https://fonts.googleapis.com/css?family=Tajawal:200); 

*::selection {
    color: #AF08D3;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    font-weight: 800;
    letter-spacing: -1px;
    font-family: 'Tajawal', sans-serif;
    color: #2E2E2E;
    opacity: .5;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 0;
    text-align: center;
}

.flex {
    display: flex;
    justify-content: center;
}

.flex > div {
    text-align: center;
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    letter-spacing: -1px;
    font-family: 'Tajawal', sans-serif;
    color: #2E2E2E;
    text-decoration: none;
    padding: 10px;
}

.flex-container {
    display: flex;
    justify-content: center;
}
  
.flex-container > div {
    margin: 20px;
    padding: 60px;
    font-size: 30px;
}

img {
      width: 200px;
      height: 200px;
}

img:hover {
    opacity: .5;
}

a {
    text-decoration: none;
}

#link {
    margin: 5px;
    background-color: white;
}

#link:hover {
    background-color: #F8F8FF;
}

div.bottom {
    bottom: 0;
}

p {
    font-size: 40px;
    line-height: 40px;
    font-weight: 900;
    letter-spacing: -1px;
    font-family: 'Tajawal', sans-serif;
    color: #2E2E2E;
    text-decoration: none;
    background-color: transparent;
    opacity: 1;
    text-align: center;
}

p > a > img {
    width: 20px;
    height: 20px;
}