@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*::selection {
    color: #AF08D3;
}

h1 {
    font-size: 80px;
    line-height: 80px;
    letter-spacing: -1px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #2E2E2E;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 10px;
    text-align: center;
}

.flex-container {
    display: flex;
    justify-content: center;
}
  
.flex-container > div {
    padding: 2px;
    margin-top: 10px;
}

img:hover {
    opacity: 1;
}

a {
    text-decoration: none;
}

img {
    width: 50px;
    height: 50px;
    opacity: .7;
}
